.caption-bg{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}

.caption-bg-2{
    background-color: rgba(255,255,255, 0.1);
    border-radius: 1rem;
}

.caption-bg-3{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
}