* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

body {
        background: #fff;
        font-family: "Open Sans";
        font-size: 16px; }
      
/* ----------- navbar ------------- */
.color {
     color: #f6efff ;
    }
.color-b {
     background: #161934;
     a{
        &:hover{
            color:#b2caff; 
            font-size: 19px;
        }
        &:active{
            color:#b2caff ;
        }
     }
    }

nav {
    
    .flota{
        padding: 0 ;
        margin: 0 ;
        background: #88888800;
        position: fixed;
        top:10;
      
        left:100;
        right:20px;
        &:focus{
            border-color: #161934;
        }
        
            img {
                width: 40px;
                margin-left: 0px;
            }
        
        
    }
      img {
      margin-left: 20px;
      width: 40px;
      
     }
     li {
        color: #f6efff ;
     }
     .menu{
        &:hover{
            padding: 0 0 0 0 ;
        }
     }
     .user{
        margin-right: 15px;
     }
    

}
